.distance-dropdown {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  position: absolute;
  max-width: 200px;
  width: 40%;
}

.distance-dropdown label {
  font-weight: bold;
}

.distance-dropdown input[type="range"] {
  width: 100%;
  margin: 10px 0;
}

.distance-dropdown button {
  background-color: #e9aa95;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  text-align: center;
}

@media (max-width: 1220px) {
  .distance-dropdown {
    right: 0;
    margin-right: 50%;
  }
}

@media (max-width: 870px) {
  .distance-dropdown {
    left: 15px;
    min-width: 190px;
  }
}
